services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: testdb
      MYSQL_USER: db_admin
      MYSQL_PASSWORD: DbAdmin_StrongPass1!
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./apache/000-default.conf:/etc/apache2/sites-enabled/000-default.conf
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: hotel_complex
      DB_USER: db_admin
      DB_PASS: DbAdmin_StrongPass1!
      command: >
        bash -lc "
        sed -i 's#DocumentRoot /var/www/html#DocumentRoot /var/www/html/public#g' /etc/apache2/sites-available/000-default.conf &&
        printf '%s\n' '<Directory /var/www/html/public>' 'AllowOverride All' 'Require all granted' '</Directory>' > /etc/apache2/conf-available/public-dir.conf &&
        a2enconf public-dir &&
        apache2-foreground
        "

    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      UPLOAD_LIMIT: 64M
    depends_on:
      - db

volumes:
  db_data:
